# # numbers as variables and print type

In [1]:
my_int = 5
my_float = 2.34
print(my_float)
print(type(my_float))

2.34
<class 'float'>

# # Mathematical Operators in Python

In [2]:
result = my_int + my_float
print(result)

7.34

In [3]:
result = my_int - my_float
print(result)

2.66

In [4]:
result = my_int * my_float
print(result)

11.7

In [5]:
result = my_int / my_float
print(result)

2.1367521367521367

In [6]:
#floor division
result = my_int // my_float
print(result)

2.0

# # Exponents and Powers

In [7]:
# power, 
result = 3 ** 2
print(result)

9

# # modulus operator

In [8]:
print(3%2)
print(10%2)

1
0

# # order of operations

In [9]:
print(3*2+1+1)

8

In [10]:
print(3*(2+1+1))

12

# # shortcuts

In [11]:
# my_int = my_int+1
my_int += 1
print(my_int)

6

In [12]:
# my_int = my_int*2
my_int *= 2
print(my_int)

12

# # Absolute and Round values

In [13]:
print(abs(-12))

12

In [14]:
print(round(3.74))

4

In [15]:
print(round(3.74456, 2))

3.74

# # Comparision Operators

In [16]:
print(2==3)
print(2!=3)
print(2>3)
print(2<3)
print(2>=3)
print(2<=3)

False
True
False
True
False
True

# # Type casting

In [17]:
my_string_num1 = '100'
my_string_num2 = '200'
print(my_string_num1+my_string_num2)

100200

In [18]:
my_string_num1 = '100'
my_string_num2 = '200'
print(int(my_string_num1)+int(my_string_num2))

300